.yooms {
	will-change: filter;
	transition: filter 300ms;
}
.yooms:hover {
	filter: drop-shadow(0 0 .2em #9697acaa);
}
.yooms.react:hover {
	filter: drop-shadow(0 0 .2em #376572aa);
}

@keyframes yooms-spin-clockwise {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes yooms-spin-counter-clockwise {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	h1 .yooms {
		animation: yooms-spin-clockwise infinite 20s linear;
	}
	h1 .yoomsCounter {
		animation: yooms-spin-counter-clockwise infinite 20s linear;
	}
}